{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">{{ user.username }}'s books, Total: {{ books.total }}</h1>
    {% for book in books %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ book.date_started.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a></h2>
            <p class="article-content">{{ book.author }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}