{% extends "layout.html" %}
{% block content %}
    <h1>USER PAGE A BIT SHIT! UNDER CONSTRUCTION!</h1>
    {% for book in books %}
        <!-- <p>{{ book.title }}</p>
        <p>{{ book.author }}</p>
        <p>{{ book.num_pages }}</p>
        <p>{{ book.date_started }}</p>
        <p>{{ book.date_finished }}</p> -->
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a></h2>
            <p class="article-content">Author: {{ book.author }}</p>
            <p class="article-content">Number of Pages: {{ book.num_pages }}</p>
            <p class="article-content">Date Started: {{ book.date_started }}</p>
            <p class="article-content">Date Finished: {{ book.date_finished }}</p>
          </div>
        </article>
    {% endfor %}
{%endblock content %}